@charset "UTF-8";
/* sample code for css.less by misol */
div.rx_sr {
	font-family: "맑은 고딕", "Apple SD Gothic Neo", "나눔고딕", NanumGothic, 'Nanum Gothic', Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 3px;
}
section.rx_sr {
	font-size: 14px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
}
.rx_sr ul.rx_sr_list {
	margin: 0;
	padding: 0 8px;
}
.rx_sr .rx_sr_list .rx_sr_a {
	color: #222;
	display: block;
	letter-spacing: -1px;
	line-height: 18px;
	overflow: hidden;
	padding: 0.667em 3px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
}
.rx_sr .rx_sr_list .rx_sr_a:hover {
	color: #2196f3;
}
.rx_sr .rx_sr_a {
	color: #222;
	display: block;
	letter-spacing: -1px;
	overflow: hidden;
	padding: 0.467em 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
}
.rx_sr .rx_sr_img {
	display: inline-block;
	float: left;
	position: relative;
	margin-right: 5px;
}
.rx_sr .rx_sr_items {
	position: relative;
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.rx_sr .rx_sr_tag {
	color: #2196f3;
	font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif-light, sans-serif;
	margin: 0 7px 0 3px;
}
.rx_sr .rx_sr_gal_item .rx_sr_tag {
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	margin: 0;
}
.rx_sr .content_nickname,
.rx_sr .rx_sr_right_layer {
	color: #616161;
	font-size: 12px;
	margin: 0 3px 0 7px;
	overflow: hidden;
}
.rx_sr ul.rx_sr_tab {
	list-style: outside none none;
	padding: 0;
	margin: 0;
}
.rx_sr .rx_sr_list li {
	position: relative;
	border-top: 1px solid #e0e0e0;
	overflow: hidden;
	padding: 0;
}
.rx_sr	.rx_sr_list li:first-child,
.rx_sr.rx_sr_list li.first-child {
	border-top: 0 none;
}
.rx_sr .rx_sr_right_layer {
	position: absolute;
	height: 18px;
	width: 44px;
	text-align: right;
	font-size: 13px;
	margin: 3px;
	top: 0.6em;
	right: 15px;
}
.rx_sr .rx_sr_list li.rx_sr_pad_R .rx_sr_a {
	padding-right: 70px;
}
.rx_sr h1.rx_sr_top {
	border-bottom: 1px solid #e0e0e0;
	font-weight: 400;
	margin: 0;
	position: relative;
}
.rx_sr h1.rx_sr_top .rx_sr_a {
	display: block;
	margin: 0;
	padding: 10px;
	text-decoration: none;
}
.rx_sr div.rx_sr_gal {
	overflow: hidden;
	width: 100%;
	height: 137px;
	white-space: nowrap;
	box-sizing: border-box;
}
div.rx_sr_gal ul.rx_sr_gal {
	display: block;
	list-style: outside none none;
	padding: 6px 0px 100px;
	margin: 0;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
div.rx_sr_gal ul.rx_sr_gal > li {
	position: relative;
	display: inline-block;
	width: 100px;
	padding: 7px;
}
div.rx_sr_gal ul.rx_sr_gal>li .rx_sr_a {
	position: relative;
	padding: 0;
	width: 100px;
}
div.rx_sr_gal ul.rx_sr_gal>li .gallery_text>span {
	display: block;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
div.rx_sr_gal ul.rx_sr_gal>li .gallery_text>span.content_nickname {
	margin: 0;
	text-align: right;
}
div.rx_sr_gal ul.rx_sr_gal>li .rx_sr_a:hover {
	color: #2196f3;
}
.rx_sr_gal_item .rx_sr_no_img,
.rx_sr_list .rx_sr_img {
	display: inline-block;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #e0e0e0;
	color: #000;
	width: 100px;
	height: 75px;
	vertical-align: middle;
	text-align: center;
	line-height: 75px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.rx_sr div.rx_sr_tab {
	overflow: hidden;
	width: 100%;
	height: 52px;
	white-space: nowrap;
	border-bottom: 1px solid #e0e0e0;
	box-sizing: border-box;
}
.rx_sr ul.rx_sr_tab {
	display: block;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	padding: 6px 0px 100px;
	text-decoration: none;
}
.rx_sr ul.rx_sr_tab>li {
	display: inline-block;
	height: 40px;
	line-height: 18px;
	position: relative;
}
.rx_sr ul.rx_sr_tab>li a {
	display: inline-block;
	color: #000;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 40px;
	text-decoration: none;
}
.rx_sr ul.rx_sr_tab>li a:hover,
.rx_sr ul.rx_sr_tab>li.active a,
.rx_sr h1.rx_sr_top .rx_sr_a {
	color: #2196f3;
}
.rx_sr ul.rx_sr_tab>li a span {
	border-left: 1px solid #e0e0e0;
	padding: 0 15px;
}
.rx_sr ul.rx_sr_tab>li:first-child a span {
	border-left: 0 none;
}
.rx_sr dl.simple_columns {
	margin: 0;
	padding: 0;
}
.rx_sr dl.simple_columns dt {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}
.rx_sr dl.simple_columns dd {
	display: none;
	margin: 0;
}
.widgetContainer .rx_sr .open {
	display: block !important;
}
.rx_sr .rx_sr_nav {
	text-align: center;
	color: #616161;
	margin: 0;
	padding: 10px 0;
	border-top: 1px solid #e0e0e0;
}
.rx_sr .rx_sr_nav button {
	background-color: transparent;
	color: inherit;
	border: 0 none;
	cursor: pointer;
	line-height: 20px;
	height: 35px;
	width: 100%;
	margin: 0;
	font-size: 15px;
}
.rx_sr .rx_sr_nav li button:hover {
	color: #2196f3;
}
.rx_sr .rx_sr_nav li button i {
	font-size: 16px;
	line-height: 16px;
}
.rx_sr_list.rx_sr_webzine .rx_sr_gal_image {
	position: relative;
	width: 100px;
	float: left;
}
.rx_sr_list.rx_sr_webzine .rx_sr_items {
	display: block;
	padding: 10px;
	margin: 0;
}
.rx_sr_list.rx_sr_webzine .rx_sr_items .rx_sr_longtext {
	display: block;
	margin: 7px 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

